<div class="sixteen wide column">
    <div class="ui segment">
        <form class="ui form" action="/contact/index" method="post">
            <h4 class="ui dividing header">İletişim Formu</h4>
            <div class="field">
                <label>Ad</label>
                <input type="text" name="ad" placeholder="Adı">
            </div>
            <div class="field">
                <label>Soyad</label>
                <input type="text" name="soyad" placeholder="Soyadı">
            </div>
            <button class="ui button" type="submit">Gönder</button>
        </form>
    </div>
</div>